textarea {
    resize: none;
}

a {
    color: #00a1ff;
    text-decoration: none;
}

a:hover, a:focus{
    color: #00a1ff;
    text-decoration: none;
}

.alert > p, .alert > ul{
    padding-left: 20px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default{
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}

.panel{
    margin-top: 20px;
}

.main-head-actions{
    margin-bottom: 10px;
}

.pagination{
    margin: 10px 0;
}

.action_btn{
    background: #48a6dc;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

.reminder_btn{
    background: #da40ab;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

.download_btn{
    background: #ff008d;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

.download_btn:hover, .download_btn:focus{
    color: #fff;
}

.delete_btn_modal{
    background: #dd4b39;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

.save_btn{
    background: #48a6dc;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
}

.action_btn:hover, .action_btn:focus, .delete_btn_modal:hover, .delete_btn_modal:focus, .save_btn:hover, .save_btn:focus, .reminder_btn:hover, .reminder_btn:focus{
    color: #fff;
}

.delete_btn_big{
    background: #dd4b39;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

.delete_btn_big:hover, .delete_btn_big:focus{
    color: #fff;
}

.delete_btn{
    background: #dd4b39;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.delete_btn:hover, .delete_btn:focus{
    background: #dd4b39;
    color: #fff;
}

.edit_btn{
    background: #00a65a;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.edit_btn:hover, .edit_btn:focus{
    background: #00a65a;
    color: #fff;
}

.create_btn{
    background: #e033d3;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.create_btn:hover, .create_btn:focus{
    background: #a23c87;
    color: #fff;
}

.edit_btn_large{
    background: #00a65a;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    transition: all ease 0.2s;
}

.edit_btn_large:hover, .edit_btn_large:focus{
    background: #00a65a;
    color: #fff;
}

.historial_btn{
    background: #ff7600;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.historial_btn:hover, .historial_btn:focus{
    background: #de6905;
    color: #fff;
}

.print_btn{
    background: #48a6dc;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.print_btn:hover, .print_btn:focus{
    background: #2f7ca9;
    color: #fff;
}

.down_btn{
    background: #ff008d;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.down_btn:hover, .down_btn:focus{
    background: #d20a78;
    color: #fff;
}

.export_btn{
    background: #ff5e00;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.export_btn:hover, .export_btn:focus{
    background: #d61309;
    color: #fff;
}

.public_btn{
    background: #cccccc;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.public_btn:hover, .public_btn:focus{
    background: #1599d8;
    color: #fff;
}

.private_btn{
    background: #cccccc;
    border-radius: 0;
    color: #fff;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.private_btn:hover, .private_btn:focus{
    background: #1599d8;
    color: #fff;
}

.static_btn{
    border-radius: 0;
    color: #cccccc;
    padding: 5px;
    cursor: default;
    font-size: 20px;
}

.static_btn:hover, .static_btn:focus{
    color: #cccccc;
}

.static_active_btn{
    color: #1599d8;
}

.static_active_btn:hover, .static_active_btn:focus{
    color: #1599d8;
}

.active_btn{
    background: #1599d8;
}

#preview_img, #preview_img_one, #preview_img_two{
    display: none;
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center center;
    border: 3px solid #dde5e8;
    background-repeat: no-repeat;
}

.hidde_img_dyn{
    opacity: 0;
    height: 250px;
}

#preview_img_edit, #preview_img_edit_one, #preview_img_edit_two{
    background-size: cover;
    width: 300px;
    height: 250px;
    background-position: center center;
    border: 3px solid #dde5e8;
    background-repeat: no-repeat;
}

.remove_photo{
    margin-bottom: 10px;
    margin-top: 10px;
}

.action-success{
    background-color: #55adc7;
    padding: 15px;
    border-radius: 5px;
    color: white;
}

.action-fail{
    background-color: #dd4b39;
    padding: 8px;
    margin-bottom: 10px;
}

.total_lines {
    width: 100%;
    display: block;
    text-align: center;
    background: #00a1ff;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

.total_lines:hover, .total_lines:focus{
    color: #fff;
    text-decoration: none;
}

#loader {
    opacity: 0;
    background: rgba(102, 102, 102, 0.5);
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-wrapper{
    min-height: 89.5vh;
}

.c-currency-input{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.c-currency-input .c-symbol-currency{
    width: 1%;
    font-size: 20px;
    font-weight: bold;
}

.c-currency-input .form-control{
    width: 93%;
}

.c-currency-input .c-letters-currency{
    width: 5%;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.box-title{
    font-weight: bold;
}

label{
    font-weight: bold;
}

.c-container-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c-item-image{
    width: 33%;
}

.btn-primary{
    background-color: #2C3A47;
    border-color: #2C3A47;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: #2C3A47;
    border-color: #2C3A47;
}

.login-box-body, .register-box-body{
    padding: 30px;
}

.c-btn-login{
    margin-left: 12px;
}

.c-btn-login-reset{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.c-form-search{
    margin-bottom: 10px;
}

.c-btn-search{
    border-radius: 0;
}

.c-btn-view-form{
    padding: 10px 5px;
}

.c-padding-right-input{
    padding-right: 5px;
}

.c-padding-left-input{
    padding-left: 5px;
}

.tabs-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
}

.tabs-menu li{
    width: 24%;
    margin-right: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: #666;
    border-radius: 3px;
    margin-bottom: 10px;
}

.tabs-menu li.current {
    position: relative;
    background-color: #444;
    z-index: 5;
}

.tabs-menu li a {
    display: block;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}

.tabs-menu .current li {
    background-color: #444;
}

.tabs-menu .current a {
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-container{
    display: none;
}

#general {
    display: block;   
}

.c-inputs-flex{
    display: flex;
    align-items: center;
}

.c-inputs-flex input{
    width: 49%;
}

.c-separator-form{
    width: 2%;
}

#result{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#result i{
    margin: 0 10px;
}

#resultEdit{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.thumbnail, .thumbnailEdit{
    width: 300px;
    height: 150px;
    margin: 0px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ecf0f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    opacity: 0;
}

.typeFile, .typeFileEdit{
    padding: 20px;
    background: #a252a0;
    color: #ffffff;
    margin-bottom: 20px;
}

.c-icon-image, .c-icon-image-edit{
    padding: 10px;
    background: #a252a0;
    color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.c-btn-delete-file{
    background: #f93f3f;
    border: 0px;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -5px;
}

.c-container-file{
    position: relative;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.c-container-file-thumbnail{
    border: 4px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out; 
}

.fc-event-container .fc-day-grid-event{
    border-radius: 0;
    padding: 10px;
    background-color: #ea0077;
    border: 0;
}

.fc-event-container .fc-day-grid-event:focus{
    color: #fff;
}

.fc-event-container .fc-title{
    font-size: 14px;
    word-break: break-all;
    display: block;
    text-align: center;
}

.c-delete-appointment{
    font-size: 14px;
    color: #fff;
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
}

.c-delete-appointment:hover, .c-delete-appointment:focus{
    color: #fff;
}

.login-page, .register-page{
    background: #2C3A47;
}

.c-login-btns{
    display: flex;
    justify-content: space-between;
}

.c-login-btn{
    width: 50%;
}

.c-login-btn .radio label, .c-login-btn .checkbox label{
    padding-left: 0;
}

.login-logo a, .register-logo a{
    color: #fff;
}

.main-header li.user-header{
    background-color: #666666 !important;
}

.main-header .logo, .main-header .navbar{
    background-color: #666666 !important;
}

.main-header .navbar .sidebar-toggle:hover{
    background-color: #1d2d32 !important;
}

.icons{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 20px 30px;
    z-index: 9998;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.c-title-icons{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.c-icon-modal{
    margin-bottom: 10px;
    font-weight: normal;
}

.c-close-icons{
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
}

.role-user{
    background: #1f2c33;
    display: inline-block;
    color: #ffffff;
    padding: 3px 10px;
    border-radius: 3px;
}

@media (max-width: 1200px) {
    .c-item-image{
        width: 50%;
    }
}

@media (max-width: 991px) {
    .c-item-image{
        width: 100%;
    }

    .tabs-menu li{
        width: 48%;
    }
}

@media (max-width: 550px) {
    .tabs-menu li{
        width: 100%;
    }
}