table {
    border-collapse: collapse;
}

.table-content th, .table-content td {
    padding: 5px 10px;
    text-align: left;
}

.header td{
    width: 50%;
    display: inline-block;
}

.table-responsive td{
    width: 25%;
}