button {
    outline:0;
}

input[type=checkbox] {
  transform: scale(2);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    border: 0;
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
}

.main-header .logo{
    font-size: 16px;
}

.content-tab{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-tab .column-form{
    margin-right: 30px;
    width: 40%;
}

.label-tab{
    padding: 50px;
    background-color: #2C3A47;
    width: 30%;
    color: #25CCF7;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
}

.label-tab span{
    font-size: 100px;
}

.col-step{
    width: 50%;
    margin: 0 auto;
}

.container-btns-steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 50px auto 30px auto;
}

.btn-prev-step{
    display: block;
}

.btn-prev-step:hover, .btn-prev-step:focus{
    color: #fff;
}

.btn-prev-step, .btn-next-step{
    width: 45%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: #666;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    border: 0;
}

.tabs-menu{
    margin-top: 50px;
}

.bgLinkNext{
    background-color: #ccc !important;
}

.title-tab{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #283a48;
    padding-bottom: 10px;
    font-size: 40px;
}

.slide_edit{
    display: none;
}

.connectedSortable{
    padding: 10px;
}

.container-statics-home{
    padding: 10px;
}

.container-statics-home .col-lg-3{
    padding-right: 20px;
}

.container-statics-home .col-lg-3:last-child{
    padding-right: 0px;
}

.box-title-custom{
    background: #486771;
}

.box-title-custom h1{
    padding: 30px 20px;
    margin-top: 0;
    color: #fff;
    font-size: 25px;
}

.c-delete-task{
    font-size: 14px;
    color: #fff;
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
}

.c-delete-task:hover, .c-delete-task:focus {
    color: #fff;
}

.fc-event-container .fc-title{
    word-break: inherit;
}

.fc-day-grid-event > .fc-content { 
    white-space: inherit;
}

.fc-unthemed .fc-list-item:hover td {
    background-color: unset;
    color: #fff;
}

.fc-list-item-title a[href]:hover {
    color: #fff;
    text-decoration: none;
}

.fc-event, .fc-event-dot{
    background-color: #fff;
}

.container-complete{
    padding: 10px 10px;
}

.container-complete label{
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.task-notification{
    color: #fff;
}

.title_list{
    font-size: 14px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container_list{
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    padding: 10px;
    height: 300px;
    overflow: scroll;
}

.date_list {
    font-size: 12px;
    font-weight: bold;
    color: #949494;
    margin-bottom: 5px;
}

.item_list{
    margin-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 10px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_list:last-child{
    border-bottom: 0px;
}

.desc_list span{
    font-size: 10px;
}

.hidden{
    display: none;
}

.mce-statusbar{
    display: none;
}

.title_remodal{
    margin-bottom: 30px;
}

.success-registers{
    display: none;
    margin-bottom: 20px;
    background-color: #00a65a;
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.error-registers{
    display: none;
    margin-bottom: 20px;
    background-color: #dd4b39;
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.fstElement{
    font-size: initial;
    display: block;
    border-radius: 5px;
}

.fstMultipleMode .fstQueryInput{
    font-size: 14px;
}

.fstChoiceItem{
    font-size: 14px;
}

.fstResultItem{
    font-size: 14px;
}

.fstMultipleMode .fstControls{
    width: 100%;
}

.view-register{
    background: #fff;
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    color: #00a1ff !important;
}

.fc-list-item{
    position: relative;
}

.fc-list-item.fc-has-url{
    display: flex;
}

.legend-office{
    margin-bottom: 10px;
    color: #fff;
    padding: 10px
}

.legend-status{
    padding: 10px;
}

.skin-blue .main-header .navbar .dropdown-menu li a{
    color: #666666;
}

#source_single, #source_multi, #source_secondary, #source_single_medium, #source_multi_medium, #source_secondary_medium, .container-edit-marketing, .f_message{
    display: none;
}

.container-title-msg{
    background: #e4e4e4;
    padding: 10px;
    text-transform: uppercase;
}

.container-title-msg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-title-msg .title-msg{
    font-weight: bold;
    color: #666;
    width: 85%;
}

.container-title-msg .date-btns-msg{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-title-msg .container-date-msg{
    width: 70%;
    font-size: 12px;
}

.container-title-msg .container-btns-msg{
    width: 100%;
}

.container-conversation{
    display: none;
}

.container-subject-msg{
    padding: 10px;
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
}

.container-body-msg{
    display: none;
    padding: 25px;
    border: 1px solid #ececec;
}

.container-subject-msg .title-msg{
    color: #1f2d33;
    width: 70%;
}

.container-subject-msg .date-btns-msg{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-subject-msg .container-date-msg{
    width: 80%;
    font-size: 12px;
    color: #1f2d33;
}

.container-subject-msg .container-btns-msg{
    width: 20%;
}

#f_message{
    display: none;
}

@media (max-width: 1100px){
    .container-statics-home .col-lg-3:nth-child(2){
        padding-right: 0px;
    }
}

@media (max-width: 991px){
    .container-statics-home .col-lg-3:last-child{
        padding-right: 0px;
    }
    .container-statics-home .col-lg-3{
        padding: 0;
    }
    .col-step{
        width: 100%;
    }

    .container-btns-steps{
        width: 100%;
    }
}

@media (max-width: 479px){
    .container-btns-header{
        width: 100%;
    }

    .container-btns-header li{
        width: 50%;
        text-align: center;
    }

    .link-lang{
        width: 100%;
        text-align: center;
    }
}